In [1]:
import pandas as pd

In [9]:
cols = ['user_id','movie_id','rating','ts']

In [15]:
#read the file
df = pd.read_csv('u.data',sep='\t', names = cols)

In [46]:
# read the otehr file
df1 = pd.read_csv('u.item', sep = '|', encoding = "ISO-8859-1")

# Exploratory Data Analysis (EDA)

In [16]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [17]:
df.sample(3)

       user_id  movie_id  rating         ts
10387        7       385       5  891351585
76972      782       302       3  891497698
99410      764       216       4  876245520

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [20]:
df.describe(include = 'all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

In [21]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [22]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [23]:
df['rating'].nunique()

5

In [25]:
df['user_id'].nunique()

944

In [26]:
df['movie_id'].nunique()

1682

In [47]:
df1.columns

Index(['1', 'Toy Story (1995)', '01-Jan-1995', 'Unnamed: 3',
       'http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', '0', '0.1',
       '0.2', '1.1', '1.2', '1.3', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       '0.9', '0.10', '0.11', '0.12', '0.13', '0.14', '0.15'],
      dtype='object')

In [48]:
df1

,1,Toy Story (1995),01-Jan-1995,Unnamed: 3,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0.1,0.2,1.1,1.2,...,0.6,0.7,0.8,0.9,0.10,0.11,0.12,0.13,0.14,0.15
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
# read the other file
df1 = pd.read_csv('u.item', sep ='|' , names= item_cols , encoding = "ISO-8859-1")

NameError: name 'item_cols' is not defined