In [13]:
import pandas as pd
import numpy as np

Data Analysis
1. Description
2. Diagnosis
3. Prediction
4. Action/Prescription

In [14]:
#The column names
cols=['user_id','movie_id','rating','ts']

In [15]:
#Read the file
df= pd.read_csv('u.data',sep='\t',names=cols)

In [16]:
a=[4,8,2,7,9]

In [17]:
#b=[8,16,4,14,18]

b=[]
for i in a:
    b.append(i*2)
b

[8, 16, 4, 14, 18]

In [18]:
b=[i*2 for i in a]
b

[8, 16, 4, 14, 18]

In [19]:
item_cols=['movie_id','title']+[str(i) for i in range(22)]

In [20]:
#Read the other file
df1=pd.read_csv('u.item',sep='|',names=item_cols,encoding = "ISO-8859-1")[['movie_id','title']]

In [21]:
df1.shape

(1682, 2)

Exploratory Data Analysis(EDA)

In [22]:
df.sample(5)

       user_id  movie_id  rating         ts
4714       100       288       2  891374603
2986       215       157       4  891435573
81262      303       687       1  879544923
44130      160       589       3  876857977
49630      478       134       2  889397467

In [23]:
df1.sample(3)

      movie_id                                              title
138        139                               Love Bug, The (1969)
379        380                      Star Trek: Generations (1994)
1652      1653  Entertaining Angels: The Dorothy Day Story (1996)

In [24]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [26]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

Try to find the Different Data
1. Strings with Categorical Info
2. Strings with Random Stuff
3. Numbers with Quantified Stuff
4. Numbers with Categorical Info
5. Random Numbers or ID sort of Data

In [27]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [28]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [29]:
df['rating'].nunique()

5

In [30]:
df['user_id'].nunique()

944

In [31]:
df['movie_id'].nunique()

1682

In [32]:
#Merging Dataframes

In [33]:
movie=pd.merge(df, df1, on='movie_id')
movie.head()

   user_id  movie_id  rating         ts             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [34]:
#Remove the redundant or useless columns i.e. ts
movie.drop('ts', axis=1, inplace=True)

In [35]:
movie.head()

   user_id  movie_id  rating             title
0        0        50       5  Star Wars (1977)
1      290        50       5  Star Wars (1977)
2       79        50       4  Star Wars (1977)
3        2        50       5  Star Wars (1977)
4        8        50       5  Star Wars (1977)

In [36]:
movie.columns

Index(['user_id', 'movie_id', 'rating', 'title'], dtype='object')

In [37]:
#Find the no of rating for each movie
movie['title'].value_counts().head(10)

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [38]:
#Find the average rating of each movie
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
They Made Me a Criminal (1939)                       5.0
Marlene Dietrich: Shadow and Light (1996)            5.0
Saint of Fort Washington, The (1993)                 5.0
Someone Else's America (1995)                        5.0
Star Kid (1997)                                      5.0
Great Day in Harlem, A (1994)                        5.0
Aiqing wansui (1994)                                 5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Name: rating, dtype: float64

In [39]:
df1.merge(df).head()

   movie_id             title  user_id  rating         ts
0         1  Toy Story (1995)      308       4  887736532
1         1  Toy Story (1995)      287       5  875334088
2         1  Toy Story (1995)      148       4  877019411
3         1  Toy Story (1995)      280       4  891700426
4         1  Toy Story (1995)       66       3  883601324

In [40]:
ratings = pd.DataFrame(movie.groupby('title')['rating'].mean().sort_values(ascending= False))

In [58]:
ratings['count']=movie['title'].value_counts()

In [59]:
ratings

                                              rating  count
title
They Made Me a Criminal (1939)                   5.0      1
Marlene Dietrich: Shadow and Light (1996)        5.0      1
Saint of Fort Washington, The (1993)             5.0      2
Someone Else's America (1995)                    5.0      1
Star Kid (1997)                                  5.0      3
...                                              ...    ...
Eye of Vichy, The (Oeil de Vichy, L') (1993)     1.0      1
King of New York (1990)                          1.0      1
Touki Bouki (Journey of the Hyena) (1973)        1.0      1
Bloody Child, The (1996)                         1.0      1
Crude Oasis, The (1995)                          1.0      1

[1664 rows x 2 columns]

In [43]:
ratings.sort_values(by = 'count',ascending=False).head(20)

                                    rating  count
title
Star Wars (1977)                  4.359589    584
Contact (1997)                    3.803536    509
Fargo (1996)                      4.155512    508
Return of the Jedi (1983)         4.007890    507
Liar Liar (1997)                  3.156701    485
English Patient, The (1996)       3.656965    481
Scream (1996)                     3.441423    478
Toy Story (1995)                  3.878319    452
Air Force One (1997)              3.631090    431
Independence Day (ID4) (1996)     3.438228    429
Raiders of the Lost Ark (1981)    4.252381    420
Godfather, The (1972)             4.283293    413
Pulp Fiction (1994)               4.060914    394
Twelve Monkeys (1995)             3.798469    392
Silence of the Lambs, The (1991)  4.289744    390
Jerry Maguire (1996)              3.710938    384
Chasing Amy (1997)                3.839050    379
Rock, The (1996)                  3.693122    378
Empire Strikes Back, The (1980)   4.206522    368
Star Trek: First Contact (1996)   3.660274    365

In [44]:
movie_pivot = movie.pivot_table(index = 'user_id',columns = 'title',values = 'rating')

movie_pivot.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
movie_selected= 'Star Wars (1977)'

In [46]:
as_rates = movie_pivot[movie_selected]
as_rates.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [47]:
import warnings
warnings.filterwarnings('ignore')

In [48]:
corrs = movie_pivot.corrwith(as_rates).sort_values(ascending=False)
corrs.head(20)

title
Hollow Reed (1996)                                                                   1.0
Stripes (1981)                                                                       1.0
Star Wars (1977)                                                                     1.0
Man of the Year (1995)                                                               1.0
Beans of Egypt, Maine, The (1994)                                                    1.0
Safe Passage (1994)                                                                  1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Outlaw, The (1943)                                                                   1.0
Line King: Al Hirschfeld, The (1996)                                                 1.0
Hurricane Streets (1998)                                                             1.0
Good Man in Africa, A (1994)                                                         1.0
Scarlet Letter, The (1926)                                                           1.0
Golden Earrings (1947)                                                               1.0
Full Speed (1996)                                                                    1.0
Twisted (1996)                                                                       1.0
Ed's Next Move (1996)                                                                1.0
Mondo (1996)                                                                         1.0
Cosi (1996)                                                                          1.0
Commandments (1997)                                                                  1.0
No Escape (1994)                                                                     1.0
dtype: float64

In [49]:
corrs_df = pd.DataFrame(corrs , columns = ['Correlation'])
corrs_df.head(20)

                                                    Correlation
title
Hollow Reed (1996)                                          1.0
Stripes (1981)                                              1.0
Star Wars (1977)                                            1.0
Man of the Year (1995)                                      1.0
Beans of Egypt, Maine, The (1994)                           1.0
Safe Passage (1994)                                         1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0
Line King: Al Hirschfeld, The (1996)                        1.0
Hurricane Streets (1998)                                    1.0
Good Man in Africa, A (1994)                                1.0
Scarlet Letter, The (1926)                                  1.0
Golden Earrings (1947)                                      1.0
Full Speed (1996)                                           1.0
Twisted (1996)                                              1.0
Ed's Next Move (1996)                                       1.0
Mondo (1996)                                                1.0
Cosi (1996)                                                 1.0
Commandments (1997)                                         1.0
No Escape (1994)                                            1.0

In [50]:
corrs_df['rating'] = ratings['rating']
corrs_df['count'] = ratings['count']

In [51]:
corrs_df[corrs_df['count']>50].sort_values(by = 'Correlation', ascending = False).head(20).index

Index(['Star Wars (1977)', 'Empire Strikes Back, The (1980)',
       'Return of the Jedi (1983)', 'Raiders of the Lost Ark (1981)',
       'Giant (1956)', 'Life Less Ordinary, A (1997)',
       'Austin Powers: International Man of Mystery (1997)',
       'Sting, The (1973)', 'Indiana Jones and the Last Crusade (1989)',
       'Pinocchio (1940)', 'Things to Do in Denver when You're Dead (1995)',
       'Shadowlands (1993)', 'Frighteners, The (1996)',
       'L.A. Confidential (1997)', 'Wag the Dog (1997)', 'Sabrina (1954)',
       'Dumbo (1941)', 'Bridge on the River Kwai, The (1957)',
       'Philadelphia Story, The (1940)', 'Miracle on 34th Street (1994)'],
      dtype='object', name='title')

In [52]:
corrs_df.head(20)

,Correlation,rating,count
title,,,
Hollow Reed (1996),1.0,2.333333,6
Stripes (1981),1.0,3.800000,5
Star Wars (1977),1.0,4.359589,584
Man of the Year (1995),1.0,3.111111,9
"Beans of Egypt, Maine, The (1994)",1.0,3.500000,2
Safe Passage (1994),1.0,3.000000,2
"Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)",1.0,2.600000,5
"Outlaw, The (1943)",1.0,2.500000,2
"Line King: Al Hirschfeld, The (1996)",1.0,3.000000,2
Hurricane Streets (1998),1.0,2.666667,9
"Good Man in Africa, A (1994)",1.0,3.000000,2
"Scarlet Letter, The (1926)",1.0,3.000000,2
Golden Earrings (1947),1.0,4.000000,2
Full Speed (1996),1.0,3.125000,8
Twisted (1996),1.0,3.500000,6
Ed's Next Move (1996),1.0,2.666667,3
Mondo (1996),1.0,3.000000,3
Cosi (1996),1.0,4.000000,4
Commandments (1997),1.0,2.666667,3
No Escape (1994),1.0,2.400000,5

In [53]:
top_recom = list(corrs_df[corrs_df['count']>50].sort_values(by = 'Correlation',ascending = False).head(20).index)

In [54]:
top_recom.remove(movie_selected)

In [55]:
top_recom

['Empire Strikes Back, The (1980)',
 'Return of the Jedi (1983)',
 'Raiders of the Lost Ark (1981)',
 'Giant (1956)',
 'Life Less Ordinary, A (1997)',
 'Austin Powers: International Man of Mystery (1997)',
 'Sting, The (1973)',
 'Indiana Jones and the Last Crusade (1989)',
 'Pinocchio (1940)',
 "Things to Do in Denver when You're Dead (1995)",
 'Shadowlands (1993)',
 'Frighteners, The (1996)',
 'L.A. Confidential (1997)',
 'Wag the Dog (1997)',
 'Sabrina (1954)',
 'Dumbo (1941)',
 'Bridge on the River Kwai, The (1957)',
 'Philadelphia Story, The (1940)',
 'Miracle on 34th Street (1994)']

In [56]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def movie_recommend(movie_selected = 'Star Wars (1977)'):
    # Read Files
    cols = ['user_id','movie_id','rating','ts']
    df = pd.read_csv('u.data', sep='\t', names=cols).drop('ts',axis=1)
    item_cols = ['movie_id','title'] + [str(i) for i in range(22)]
    df1 = pd.read_csv('u.item', sep='|', names = item_cols, encoding = "ISO-8859-1")[['movie_id','title']]
    
    # Merge the DataFrames
    movie = pd.merge(df,df1, on='movie_id')
    
    # Create Pivot Table
    movie_pivot = movie.pivot_table(index = 'user_id',columns = 'title', values = 'rating')
    
    # Find Similarity for Selected Movie
    corrs = movie_pivot.corrwith(movie_pivot[movie_selected])
    corrs_df = pd.DataFrame(corrs, columns= ['correlation'])
    corrs_df['rating'] = movie.groupby('title')['rating'].mean()
    corrs_df['count'] = movie['title'].value_counts()
    
    # Find Top 2-3 Recommendations
    top_recom = list(corrs_df[corrs_df['count']>50].sort_values(
        by='correlation', ascending=False).head(3).index)
    top_recom.remove(movie_selected)
    
    return top_recom

In [57]:
movie_recommend('Star Wars (1977)')

['Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)']